/*ACERCA DE*/

.logo {
    width: 70%;
}

.bg-notas {
    background: #F3F0F0;
}



.parrafo-acerca {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;

}

.video-fb {
   /*  height: 90%; */
   margin-top: 40px;
}



.img-nota {
    width: 50%;
    align-self: center;
}

.imagen-nota1 {
    width: 90%;
}

.imagen-nota2 {
    width: 90%;
    padding: 0 10%;
}
.tweet {
    text-align: center;
}