/*PRODUCTOS*/
.bg-productos{
    background:#7D5D5D ;
}

.contenedor-compra {
    width: 100%;
    height: 80%;
}

.contenedor-compra img {
    width: 100%;
    height: 80%;
}

.bg-blanco {
    background-color: #fff;
}

.gc-bg {
    background-color:#7D5D5D;
}

.contenedor-pasos{
    background: #F3F0F0;
    text-align: center;
    padding-bottom: 100px;
}

.comoComprar {
    font-size: 45px;
    margin-bottom: 30px;
}

.paso {
    margin-bottom: 20px;
}